In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv("/content/Yad2cars2.csv")

In [3]:
df.head(15)

                                                  רכב  ...       מחיר
0                שברולט מאליבו\nLT אוט' 3.5 (221 כ"ס)  ...   22,500 ₪
1                פיג'ו 207\nTrendy אוט' 1.6 (120 כ"ס)  ...    9,100 ₪
2      מיצובישי ספייס סטאר\nInstyle אוט' 1.2 (80 כ"ס)  ...   28,000 ₪
3           אאודי TT\nDesign קופה אוט' 2.0 (197 כ''ס)  ...  220,000 ₪
4   מרצדס S-Class\nS560E AMG Line הייבריד אוט' 3.0...  ...  630,000 ₪
5             אאודי A6\nC7 Luxury אוט' 2.0 (180 כ''ס)  ...   74,000 ₪
6             אאודי A3\nSportback אוט' 1.5 (150 כ''ס)  ...  151,000 ₪
7                טויוטה יאריס\nSol אוט' 1.3 (87 כ''ס)  ...   12,000 ₪
8         שברולט מאליבו\nLT Luxury אוט' 1.5 (160 כ"ס)  ...   90,000 ₪
9   יונדאי סונטה הייבריד\nPremium הייבריד אוט' 2.0...  ...   67,000 ₪
10  פולקסווגן גולף GTI\nPerformance GTI אוט' 5 דל'...  ...  186,000 ₪
11            רנו זואי\nIntense אוט' חשמלי (109 כ''ס)  ...  110,000 ₪
12  קיה נירו הייבריד\nEX סטיישן הייבריד אוט' 1.6 (...  ...   94,500 ₪
13  אלפא רומיאו ג'ולייטה\nCompetizione רובוטית 1.4...  ...   67,500 ₪
14  אלפא רומיאו מיטו / MITO\nCompetizione אוט' 1.4...  ...   78,000 ₪

[15 rows x 5 columns]

In [4]:
df=df.rename(columns={"מחיר": "Price", "נפח מנוע בסמק": "Engine volume in cmc","יד":"Number of owners","שנה":"Year","רכב":"car"})

In [17]:
df.car=df.car.str.replace("(","@")
df["ph"]=df.car.map(lambda x:"".join(re.findall("@\d+",x)))
df['haybrid']=np.where(df.car.str.contains("הייבריד"),1,0)
df['brand']=df.car.apply(lambda x:x.split("\n")[0])
df['brand2']=df.brand.map(lambda x:"".join(re.findall("\w[a-z-A-Z-0-9]+",x)))
#df['brand2']=df.brand.apply(lambda x: if ( x.startswith("\w[a-z-A-Z-0-9]+")) then (x.split(" ")[1]) else( x.str.split(" ")[0]))
df['brand3']=df.brand.apply(lambda x:x.split(" ")[1] if x.startswith("\w[a-z-A-Z-0-9]+")else x.split(" ")[0])
df['Model']=df.brand.apply(lambda x:" ".join(x.split(" ")[0] if x.startswith("\w[a-z-A-Z-0-9]+")else x.split(" ")[1:4]))

In [39]:
#df.Model.value_counts(normalize=True).head(25)
df=df.replace('-',np.NaN)

df.Price=df.Price.apply(lambda x:x.replace("₪",""))
df.Price.head()

0     22,500
1      9,100
2     28,000
3    220,000
4    630,000
Name: Price, dtype: object